# Unidad 2: Fundamentos de programación Python

### Elementos básicos

In [1]:
def multiplica(a,b): return a*b

In [2]:
multiplica(3,4)

12

In [3]:
titulo="Cálculo de área de un círculo"

In [4]:
pi=3.1416

In [5]:
radio=5

In [6]:
area=pi*(radio**2)

In [7]:
area

78.53999999999999

In [8]:
mensaje="Esto es un mensaje de prueba"

In [9]:
n=17

In [10]:
pi=3.1415926535897931

In [11]:
print(n)

17

In [12]:
print(pi)

3.141592653589793

### Tipos

In [13]:
type(mensaje)

str

In [14]:
type(n)

int

In [15]:
x=0
x=x+1

In [16]:
x

1

In [17]:
n1 = 1
n2 = 3
suma = n1 + n1
print(n1," + ", n2," = ", suma)

1  +  3  =  2

In [18]:
lado = 3
area = lado * lado
print ("El área de un cuadrado que mide ",lado, "cm por lado es ",area)

El área de un cuadrado que mide  3 cm por lado es  9

### Palabras reservadas

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Operadores

In [20]:
3*"b"    # Devuelve ‘bbb’

'bbb'

In [21]:
"b"+"a"  # Devuelve ‘ba’

'ba'

In [23]:
"c"*"c"       # TypeError

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
len("psicología")  # Devuelve 10

10

In [25]:
"Psicología"[5] # Devuelve ‘l’

'l'

In [26]:
"Psicología"[0:5] # Devuelve ‘Psico’

'Psico'

In [27]:
"Psicología"[12]  # Error de indice

IndexError: string index out of range

In [28]:
contador = 0
contador += 1  #equivalente a contador=contador+1
contador

1

In [29]:
porc = 5  #asigna número entero a variable
porc

5

In [30]:
total = 10
var = 3
total*= var/100  #equivalente a total=total*var/100
total

0.3

In [31]:
valor = -5  #el signo - se usa para los negativos
valor

-5

In [32]:
1+3 == 3 #Devuelve false

False

In [33]:
2+2 == 4 #Devuelve true

True

In [34]:
3 != 2 #Devuelve false

True

In [35]:
6 > 1  #Devuelve true

True

In [36]:
"Python" == "Python" #Devuelve true

True

In [37]:
a,b,c,d = 1,2,3,4 #Definir múltiples variables

In [38]:
print(a)
print(b)
print(c)
print(d)

1
2
3
4

### Expresiones

In [39]:
4**1+1 #Devuelve 5

5

In [40]:
6*1**2 #Devuelve 5

6

In [41]:
(-1)**3*3 #Devuelve -1

-3

In [42]:
6*3/2  #Devuelve 9.0

9.0

In [43]:
3/2*6 #Devuelve 9.0

9.0

### Comentarios

In [44]:
#Calcula el porcentaje de hora transcurrido
minuto=300
porcentaje=(minuto*100)/60
porcentaje #Devuelve 500.0

500.0

In [45]:
minuto=300 # Calcula el porcentaje de hora transcurrido
porcentaje=(minuto*100)/60 
porcentaje # Devuelve 500.0

500.0

### Entrada de información

In [46]:
entrada = input()
print ("Mi entrada es ",entrada)

mensaje
Mi entrada es  mensaje

In [47]:
nombre = input("¿Cómo te llamas?\n")
print("Mi nombre es ", nombre)

¿Cómo te llamas?
Juan
Mi nombre es  Juan

In [48]:
deuda = input("Deuda\n")
int (deuda) #Devuelve el número que introduces

Deuda
75

75

In [49]:
c1 = input('Escribe una palabra: ')
c2 = input('Escribe otra: ')
print (c2[0]+c1[1::]," ",c1[0]+c2[1::])

Escribe una palabra: hola
Escribe otra: adios
aola   hdios

In [50]:
edad = int(input('¿Cuántos años tienes?: '))  # entero
estatura = float(input('¿Altura?: '))  # flotante
nombre = input('¿Cómo te llamas?: ')  # cadena
print(nombre, edad, 'años', estatura, 'm.')

¿Cuántos años tienes?: 85
¿Altura?: 1.56
¿Cómo te llamas?: Mario
Mario 85 años 1.56 m.

In [51]:
n1 = int(input('Escribe un número entero: '))  # entero
n2 = int(input('Escribe otro número entero: '))  # entero
n3 = int(input('Escribe el último número entero: '))  # entero
print ( "El promedio es: ", (n1+n2+n3)/3 )

Escribe un número entero: 5
Escribe otro número entero: 4
Escribe el último número entero: -2
El promedio es:  2.3333333333333335

### Expresiones booleanas

In [52]:
type (True)

bool

In [53]:
5 == 5

True

In [54]:
23 and True

True

In [55]:
7 == 7   #True

True

In [56]:
7 != 7 #False

False

In [57]:
7 > 7  #False

False

In [58]:
7 >=7 #True

True

In [59]:
10 > 1 #True

True

In [60]:
10 < 1 #False

False

In [61]:
10 <=1  #False

False

In [62]:
1 < 10 #True

True

In [63]:
8>5 and 8>6 #True

True

In [64]:
8>5 and 8>9 #False

False

In [65]:
8>5 or  8>6 #True

True

In [66]:
8>5 or  8>9 #True

True

In [67]:
8>11 or 8>9 #False

False

In [68]:
8>11 #False

False

In [69]:
not (8>11) #True

True

In [70]:
8>5 #True

True

In [71]:
not (8>5) #False

False

### Condicionales

In [72]:
x = int(input("Escribe un número: "))
if x > 0:
    print ("El número es positivo")

Escribe un número: 7
El número es positivo

In [73]:
n = int(input('Escribe un número entero: '))  # entero
if(n>=10 and n<=20):
    print("Esta entre 10 y 20")
else:
    print("No está en ese rango")

Escribe un número entero: 14
Esta entre 10 y 20

In [74]:
x = int(input("Escribe un número: "))
if x > 0:
    print ("El número es positivo")
else:
    print ("El número es negativo")

Escribe un número: 8
El número es positivo

In [75]:
n1 = 10
n2 = 11
if n1 < n2:
    print (n2, " es mayor" )
elif n2 < n1:
    print (n1, " es mayor")
else:
    print ("Son iguales")

11  es mayor

In [76]:
n1 = 10
n2 = 11
n3 = 12
if n1 > n2 and n1 > n3:
    print (n1)
elif n2 > n1 and n2 > n3:
    print (n2)
elif n3 > n1 and n3 > n2:
    print (n3)
else:
    print('Son iguales')

12

In [77]:
x = input("Escribe una letra: ")
if x =="a" or x =="e" or x =="i" or x =="o" or x =="u":
    print(x, " es vocal")
elif x=="A" or x=="E" or x =="I" or x =="O" or x =="U":
    print(x, " es vocal")
else:
    print(x, " no es vocal")

Escribe una letra: a
a  es vocal

In [78]:
x = int(input("Escribe un número: "))
if x > 0:
    print ("El número es positivo")
elif x == 0:    
    print ("El número es cero")
else:
    print ("El número es negativo")

Escribe un número: 5
El número es positivo

### Bucles

In [79]:
i = 10
while( i<=50 ):
    print(i)
    i+=1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [80]:
invertida = ""
cadena = "al revés"
cont = len(cadena)
indice = -1
while cont >= 1:
    invertida += cadena[indice]
    indice = indice + (-1)
    cont -= 1
print (invertida)

séver la

In [81]:
numero = 5
factorial = 1
print ("Factorial de",numero)
while numero > 0:
    factorial *= numero
    numero -= 1
print ("es ",factorial)

Factorial de 5
es  120

In [82]:
while True:
    linea = input ("Introduce Fin para finalizar: ")
    if (linea == "Fin"):
        break
    print (linea)

Introduce Fin para finalizar: hola
hola
Introduce Fin para finalizar: adios
adios
Introduce Fin para finalizar: mensaje
mensaje
Introduce Fin para finalizar: Juan
Juan
Introduce Fin para finalizar: fin
fin
Introduce Fin para finalizar: Fin

In [83]:
x=101
for i in range(1,x):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [84]:
for i in range(1,101):
    if( (i%2)==0 ): 
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [85]:
total = int(input("¿Cuantos números vas a validar?"))
for y in range(0,total):
    x = int(input("Teclea un número: "))
    if x > 0:
        print ("El número es positivo")
    elif x == 0:
        print ("El número es cero")
    else:
        print ("El número es negativo")

¿Cuantos números vas a validar?6
Teclea un número: 7
El número es positivo
Teclea un número: 9
El número es positivo
Teclea un número: -8
El número es negativo
Teclea un número: 0
El número es cero
Teclea un número: -9
El número es negativo
Teclea un número: 2
El número es positivo

In [86]:
entrada = (str(input("Teclea una frase: ")))
salida = ''
for n in entrada:
    salida = n + salida  
print (salida)

Teclea una frase: frase de prueba
abeurp ed esarf

### Estructuras de datos
### Tuplas

In [87]:
t=("a","b","c","d","e","f")

In [88]:
print(type(t))

<class 'tuple'>

In [89]:
p = (4,)

In [90]:
p

(4,)

In [91]:
t = tuple()
print (t)
t = tuple("supercalifragilisticoespialidoso")
print (t)

()
('s', 'u', 'p', 'e', 'r', 'c', 'a', 'l', 'i', 'f', 'r', 'a', 'g', 'i', 'l', 'i', 's', 't', 'i', 'c', 'o', 'e', 's', 'p', 'i', 'a', 'l', 'i', 'd', 'o', 's', 'o')

In [92]:
t = (3, 5, "c", "d", "e")
print ( t[0] ) #3

3

In [93]:
t[0] # Devuelve 1

3

In [94]:
t[1] # Devuelve Enero

5

In [95]:
t[2] # Devuelve 2019

'c'

In [96]:
t = (3, 5, "c", "d", "e")
print ( t[1:3] )  # (5, 'c')

(5, 'c')

In [97]:
t = (2019, "Alondra", "Hacker", (1, "Enero", 2019))
len (t) # Devuelve 4

4

In [98]:
len ( t[3] ) # Devuelve 3

3

In [99]:
(0,1,2) < (0,1,2) # False

False

In [100]:
(0,1,2) == (0,1,2) # True

True

In [101]:
(0,1,3) == (0,1,2) # False

False

In [102]:
(0,1,3) < (0,1,2) # False

False

In [103]:
(0,1,3) > (0,1,2) # True

True

In [104]:
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
numero = int(input("Escribe un número entre 1 y 12: "))
if( numero>=1 and numero <= 12):
    print("El mes ",numero, "es: ", meses[numero-1])
else:
    print(":(")

Escribe un número entre 1 y 12: 8
El mes  8 es:  Agosto

In [105]:
tupla = (2,3,2,1,3,4,7,8,9,7,6,5,5,6,7,8,9,10,4,3,2,1,6,4,5,3,6,6,6,6,6)
numero = int(input("Escribe un numero del 1 al 10: "))
 
contador= 0
for i in tupla:
    if numero == i:
        contador = contador + 1
        
print ("El número ",numero," se repite ", contador, " veces.")

Escribe un numero del 1 al 10: 4
El número  4  se repite  3  veces.

### Listas

In [106]:
t = [10, 20, 30, 40]

In [107]:
print(type(t))

<class 'list'>

In [108]:
t = [10, 20, 30, 40]
t # Devuelve [10, 20, 30, 40]

[10, 20, 30, 40]

In [109]:
numeros = [17, 123]
numeros[1] = 5
print (numeros) # Devuelve [17, 123]

[17, 5]

In [110]:
t = ["casa", 3.0, 5, [11, 20]]
t

['casa', 3.0, 5, [11, 20]]

In [111]:
t = [1, 2, 3, [4, 5, 6]]
t # Devuelve [1, 2, 3, [4, 5, 6]]

[1, 2, 3, [4, 5, 6]]

In [112]:
t[-1]

[4, 5, 6]

In [113]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)  # Devuelve [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [114]:
a = [1, 2, 3]
2 in a # True

True

In [115]:
5 in a # False

False

In [116]:
a = [1, 2, 3]
for x in a:
    print (x)

1
2
3

In [117]:
[1, 2, 3] * 3  # Devuelve [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [118]:
t = [1, 2, 3, [4, 5, 6]]

In [119]:
t[1:3] # Devuelve [2, 3]

[2, 3]

In [120]:
t[2:4] # Devuelve [3, [4, 5, 6]]

[3, [4, 5, 6]]

In [121]:
t[:] # Devuelve [1, 2, 3, [4, 5, 6]]

[1, 2, 3, [4, 5, 6]]

In [122]:
t[1:] # Devuelve [2, 3, [4, 5, 6]]

[2, 3, [4, 5, 6]]

In [123]:
t = [1, 2, 3, [4, 5, 6]]
del t[1]
t # Devuelve [1, 3, [4, 5, 6]]

[1, 3, [4, 5, 6]]

In [124]:
t = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print ( max(t), min (t) ) # Devuelve 9 1

9 1

In [125]:
t = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(t) # Devuelve 9

9

In [126]:
lista =  range (-3,3)
for i in lista:
    print (i) # Devuelve -3 -2 -1 0 1 2 3

-3
-2
-1
0
1
2

In [127]:
lista = range (-3,3)
list ( lista ) # Devuelve [-3, -2, -1, 0, 1, 2]

[-3, -2, -1, 0, 1, 2]

In [128]:
t = [1, 2, 3, [4, 5, 6]]
t.append("nuevo")
t # Devuelve [1, 2, 3, [4, 5, 6], 'nuevo']

[1, 2, 3, [4, 5, 6], 'nuevo']

In [129]:
t1 = [1, 2, 3, 4, 5, 6]
t2 = [7, 8, 9]
t1.extend(t2)
t1 # Devuelve [1, 2, 3, 4, 5, 6, 7, 8, 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
t = ["d","e","a","c","x"]
t.sort()
t # Devuelve ['a', 'c', 'd', 'e', 'x']

['a', 'c', 'd', 'e', 'x']

In [131]:
t = [7,6,5,4,3,2,1]
t.sort()
t # Devuelve [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [132]:
t = ["d","e","a","c","x"]
x = t.pop(1)
print (t) # Devuelve ['d', 'a', 'c', 'x']

['d', 'a', 'c', 'x']

In [133]:
print (x) # Devuelve e

e

In [134]:
t = ["d","e","a","c","x"]
t.remove("e")
print (t) # Devuelve ['d', 'a', 'c', 'x']

['d', 'a', 'c', 'x']

In [135]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b # Devuelve false

False

In [136]:
a = [1, 2, 3]
a = b
a is b # Devuelve true

True

In [137]:
a = [1, 2, 3]
b = a
b[0] = 45
print (a)  # Duelve [45, 2, 3]

[45, 2, 3]

In [138]:
t1 = [2, 3]
t2 = [5]
t1.append(4)
print ( t1, t1+t2 ) # Devuelve [2, 3, 4] [2, 3, 4, 5]

[2, 3, 4] [2, 3, 4, 5]

In [139]:
palabra = input("Escribe una palabra: ")
lista = []
for c in palabra:
    if(c not in lista):
        lista.append(c)
print(palabra)

Escribe una palabra: palabra
palabra

In [140]:
print(lista)

['p', 'a', 'l', 'b', 'r']

In [141]:
lista = []
total = int(input("¿Cúantos elementos tendrá la lista?: "))
for i in range(total):
    numero = int(input("Escribe un numero: "))
    lista.append(numero)
suma = sum(lista)
promedio = suma / len(lista)

¿Cúantos elementos tendrá la lista?: 3
Escribe un numero: 4
Escribe un numero: 78
Escribe un numero: 3

In [142]:
print (lista)

[4, 78, 3]

In [143]:
print("La suma es ",suma)

La suma es  85

In [144]:
print("El promedio es ",promedio)

El promedio es  28.333333333333332

### Cadenas

In [145]:
s = "casa"
t = list (s)
print (t) # Devuelve ['c', 'a', 's', 'a']

['c', 'a', 's', 'a']

In [146]:
print(type(s))

<class 'str'>

In [147]:
s = "El camión rojo de Juan"
t = s.split()
print (t)  # Devuelve ['El', 'camión', 'rojo', 'de', 'Juan']

['El', 'camión', 'rojo', 'de', 'Juan']

In [148]:
print (t[2]) # Devuelve rojo

rojo

In [149]:
s = "El-camión-rojo-de-Juan"
t = s.split("-")
print (t)  # Devuelve ['El', 'camión', 'rojo', 'de', 'Juan']

['El', 'camión', 'rojo', 'de', 'Juan']

In [150]:
s = ['El', 'camión', 'rojo', 'de', 'Juan']
delimitador = " "
delimitador.join(s) # Devuelve 'El camión rojo de Juan'

'El camión rojo de Juan'

In [151]:
delimitador = "-"
delimitador.join(s) # Devuelve 'El-camión-rojo-de-Juan'

'El-camión-rojo-de-Juan'

In [152]:
lista = [x for x in [3,4,5]]
lista # Devuelve [3, 4, 5]

[3, 4, 5]

In [153]:
lista = [x+5 for x in [3,4,5] if x > 3]
lista  # Devuelve [9, 10]

[9, 10]

In [154]:
lista = [ x for x,y in [(1,2),(3,4),(5,6)]]
lista # Devuelve [1, 3, 5]

[1, 3, 5]

In [155]:
letras  = ['a','b','g','h','n']
mayusculas = [ a.upper() for a in letras ]
mayusculas # Devuelve ['A', 'B', 'G', 'H', 'N']

['A', 'B', 'G', 'H', 'N']

In [156]:
c = [3 ** x for x in range(1,101) if x % 2 == 0]
print (c)

[9, 81, 729, 6561, 59049, 531441, 4782969, 43046721, 387420489, 3486784401, 31381059609, 282429536481, 2541865828329, 22876792454961, 205891132094649, 1853020188851841, 16677181699666569, 150094635296999121, 1350851717672992089, 12157665459056928801, 109418989131512359209, 984770902183611232881, 8862938119652501095929, 79766443076872509863361, 717897987691852588770249, 6461081889226673298932241, 58149737003040059690390169, 523347633027360537213511521, 4710128697246244834921603689, 42391158275216203514294433201, 381520424476945831628649898809, 3433683820292512484657849089281, 30903154382632612361920641803529, 278128389443693511257285776231761, 2503155504993241601315571986085849, 22528399544939174411840147874772641, 202755595904452569706561330872953769, 1824800363140073127359051977856583921, 16423203268260658146231467800709255289, 147808829414345923316083210206383297601, 1330279464729113309844748891857449678409, 11972515182562019788602740026717047105681, 107752636643058178097424660240453423951129, 969773729787523602876821942164080815560161, 8727963568087712425891397479476727340041449, 78551672112789411833022577315290546060373041, 706965049015104706497203195837614914543357369, 6362685441135942358474828762538534230890216321, 57264168970223481226273458862846808078011946889, 515377520732011331036461129765621272702107522001]

In [157]:
c = [ x for x in range(1,101) if x % 3 == 0]
print (c)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### Diccionario de datos

In [158]:
ejemplo = dict()
ejemplo # Devuelve {}

{}

In [159]:
print(type(ejemplo))

<class 'dict'>

In [160]:
ejemplo = dict()
ejemplo # Devuelve {}

{}

In [161]:
ejemplo["primero"] = "Libro"
ejemplo # Devuelve {'primero': 'Libro'}

{'primero': 'Libro'}

In [162]:
ejemplo2 = {"primero":"Libro","segundo":34,"tercero":(3,4)}
ejemplo2 # Devuelve {'primero': 'Libro', 'segundo': 34, 'tercero': (3, 4)}

{'primero': 'Libro', 'segundo': 34, 'tercero': (3, 4)}

In [163]:
ejemplo2 = {"primero":"Libro","segundo":34,"tercero":(3,4)}
len (ejemplo2) # 3

3

In [164]:
ejemplo2 = {"primero":"Libro","segundo":34,"tercero":(3,4)}
"primero" in ejemplo2 # True

True

In [165]:
valores = ejemplo2.values()
"uno" in valores # False

False

In [166]:
contadores = {"naranjas":1, "limones":42, "peras":100}
print ( contadores.get("uvas",0)) # Devuelve 0
print (contadores.get("naranjas",0)) # Devuelve 1

0
1

In [167]:
contadores = {"naranjas":1, "limones":42, "peras":100}
contadores.keys() # dict_keys(['naranjas', 'limones', 'peras'])

dict_keys(['naranjas', 'limones', 'peras'])

In [168]:
contadores = {"naranjas":1, "limones":42, "peras":100}
t = contadores.items();
t # dict_items([('naranjas', 1), ('limones', 42), ('peras', 100)])

dict_items([('naranjas', 1), ('limones', 42), ('peras', 100)])

In [169]:
diccionario = {1:"hola",2:42, 3:100}
for clave in diccionario:
    print (clave, diccionario[clave])

1 hola
2 42
3 100

In [170]:
diccionario = {1:"hola", 2:42, 3:100}
for clave, valor in diccionario.items():
    print ( clave, valor )

1 hola
2 42
3 100

### Funciones

In [171]:
#función que suma tres números y devuelve el resultado
def suma_tres(x, y, z):	# 3 argumentos posicionales
    m1 = x + y
    m2 = m1 + z
    return m2

In [172]:
suma_tres(x=5, y=1, z=6)

12

In [173]:
def multiplicacion (lista):
    multiplicacion = 1
    for i in lista:
        multiplicacion *= i
    return (multiplicacion)

In [174]:
lista = {1,2,3,4}
print (multiplicacion ( lista  )) # Devuelve 24

24

In [175]:
def palindromo(palabra):
    palabra_al_reves = palabra[::-1]
    print(palabra_al_reves)
    if( palabra == palabra_al_reves ):
        print("Es palindromo")
    else:
        print("No es palindromo")

In [176]:
palindromo("Aguila") # 'NO es palindromo'

aliugA
No es palindromo

In [177]:
palindromo("arenera") # 'es palindromo'

arenera
Es palindromo

In [178]:
r = suma_tres ( 1, 2, 3 ) # Devuelve 6

In [179]:
r = suma_tres ( 4, 5, 6 ) # Devuelve 15

In [180]:
def sumandos(a, b):
    suma = a+b
    return suma

In [181]:
c = 5
x = sumandos ( c, c+7 )
print (x) # Devuelve 17

17

In [182]:
def ejemplo ( a = 3 ):
    print (a)

In [183]:
ejemplo() # Devuelve 3

3

In [184]:
def ejemplo1 (a, b):
    return a+b
def ejemplo2 (a,b,c):
    return c+ ejemplo1(a,b)

In [185]:
ejemplo2(3,4,5) # Devuelve 12

12

In [186]:
def ejemplo1 (a):
    return 3*a
b = ejemplo1(4)

In [187]:
print (b) # Devuelve 12

12

In [188]:
def ejemplo1 (a):
    print( 3*a)

In [189]:
b = ejemplo1(4) #Devuelve 12

12

In [190]:
print (b) #Devuelve None

None

In [191]:
def segundos_a_HMS(segundos):
    hs = int(segundos / 3600)
    min = int((segundos % 3600) / 60)
    seg = int((segundos % 3600 ) % 60)
    return (hs, min, seg)

In [192]:
(h, m, s) = segundos_a_HMS(3661)
print ("Son",h,"horas",m,"minutos",s,"segundos") # Son 1 horas 1 minutos 1 segundos

Son 1 horas 1 minutos 1 segundos

### Funciones internas

In [193]:
for x in range(97,122):
    print ("Carácter UNICODE de ",x ,'=' ,chr(x) )

Carácter UNICODE de  97 = a
Carácter UNICODE de  98 = b
Carácter UNICODE de  99 = c
Carácter UNICODE de  100 = d
Carácter UNICODE de  101 = e
Carácter UNICODE de  102 = f
Carácter UNICODE de  103 = g
Carácter UNICODE de  104 = h
Carácter UNICODE de  105 = i
Carácter UNICODE de  106 = j
Carácter UNICODE de  107 = k
Carácter UNICODE de  108 = l
Carácter UNICODE de  109 = m
Carácter UNICODE de  110 = n
Carácter UNICODE de  111 = o
Carácter UNICODE de  112 = p
Carácter UNICODE de  113 = q
Carácter UNICODE de  114 = r
Carácter UNICODE de  115 = s
Carácter UNICODE de  116 = t
Carácter UNICODE de  117 = u
Carácter UNICODE de  118 = v
Carácter UNICODE de  119 = w
Carácter UNICODE de  120 = x
Carácter UNICODE de  121 = y

In [194]:
for x in range(65,91):
    print ("Carácter UNICODE de ",x ,'=' ,chr(x) )

Carácter UNICODE de  65 = A
Carácter UNICODE de  66 = B
Carácter UNICODE de  67 = C
Carácter UNICODE de  68 = D
Carácter UNICODE de  69 = E
Carácter UNICODE de  70 = F
Carácter UNICODE de  71 = G
Carácter UNICODE de  72 = H
Carácter UNICODE de  73 = I
Carácter UNICODE de  74 = J
Carácter UNICODE de  75 = K
Carácter UNICODE de  76 = L
Carácter UNICODE de  77 = M
Carácter UNICODE de  78 = N
Carácter UNICODE de  79 = O
Carácter UNICODE de  80 = P
Carácter UNICODE de  81 = Q
Carácter UNICODE de  82 = R
Carácter UNICODE de  83 = S
Carácter UNICODE de  84 = T
Carácter UNICODE de  85 = U
Carácter UNICODE de  86 = V
Carácter UNICODE de  87 = W
Carácter UNICODE de  88 = X
Carácter UNICODE de  89 = Y
Carácter UNICODE de  90 = Z

### Importación de módulos

In [195]:
import random
for i in range(4):
    x = random.random()
    print (x)

0.8842749124575053
0.871444891862205
0.015320475708202608
0.18577102018223646

In [196]:
from random import randint
for i in range(4):
    x = random.randint(1,10)
    print(x)

4
9
1
5

In [197]:
from math import pi

In [198]:
radio = float(input('Teclea el radio de un círculo: '))

Teclea el radio de un círculo: 2.9

In [199]:
print ("Selecciona una opción")
print ("1 Calcular perímetro")
print ("2 Calcular área")
print ("3 Ambos")
print ("4 Salir")
opcion = int(input('Teclea opción: '))
while not opcion in (1,2,3,4):
    opcion = int(input('Teclea opción: '))
if opcion == 1:    
    print ("Perímetro es: ",(2*pi*radio) )
elif opcion == 2:    
    print ("Área es: ",(pi*radio*radio) )
elif opcion == 3:   
    print ("Perímetro es: ",(2*pi*radio) )
    print ("Área es: ",(pi*radio*radio) )
else:
    print ("Adios")

Selecciona una opción
1 Calcular perímetro
2 Calcular área
3 Ambos
4 Salir
Teclea opción: 1
Perímetro es:  18.2212373908208

In [200]:
import os as te
print("Directorio actual: ",    te.getcwd())
print("Directorios/ficheros: ", te.listdir(te.getcwd()))

Directorio actual:  C:\Users\JMMoreno\Desktop\Revisión_Técnica_Mod1\UD2\Unidad 2\Unidad 2
Directorios/ficheros:  ['.ipynb_checkpoints', '10.PNG', '5.PNG', '6.PNG', '7.PNG', '8.PNG', '9.PNG', 'a.png', 'b.png', 'c.png', 'cuna.txt', 'INDICE_UD2.doc', 'nuevo.txt', 'prueba.txt', 'UD2.docx', 'UD2.pdf', 'UD2_Python.ipynb', '~$UD2.docx']

In [201]:
import os
dir(os)

['DirEntry',
 'F_OK',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_putenv',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'errno',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_float_times',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'urandom',
 'utime',
 'waitpid',
 'walk',
 'write']

In [202]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

### Gestión de archivos

In [203]:
fichero= open("cuna.txt")
for linea in fichero: 
    print(linea)

Ya te vemos dormida.

Tu barca es de madera por la orilla.

Blanca princesa de nunca.

Duerme por la noche oscura.

Cuerpo y tierra de nieve. Duerme por el alba, duerme.

Ya te alejas dormida.

In [204]:
fichero= open("cuna.txt")
lineas = fichero.readlines()
print(lineas)

['Ya te vemos dormida. \n', 'Tu barca es de madera por la orilla. \n', 'Blanca princesa de nunca. \n', 'Duerme por la noche oscura. \n', 'Cuerpo y tierra de nieve. Duerme por el alba, duerme. \n', 'Ya te alejas dormida. ']

In [205]:
lineas[0].rstrip()

'Ya te vemos dormida.'

In [206]:
f = open ('prueba.txt','w')
f.write('Primer archivo')
f.close()

In [207]:
arc_write = open ('nuevo.txt', 'w')
for  i, line in enumerate(lineas):
    if i%2 == 0:
        arc_write.write( str(i) + ' ' + line )
    else:
        pass
arc_write.close()

In [208]:
open ( 'nuevo.txt' ,'a' ).write('\nEste es el final')

17

# CASO PRÁCTICO

In [209]:
def cifrar(texto,desp,desp2):
    muestra = ""
    texto = convertir(texto,desp2)
    palabras = texto.split(' ')
    copia = palabras[:]
    indices = []
    for i in range(0,len(palabras)):
        indices.append((i + int(desp)) % len(palabras))
        copia[indices[i]] = palabras[i]
    for j in range(0,len(copia)):
        muestra += "".join(copia[j])+" "
    print ("\nTexto cifrado: "+ muestra)

In [210]:
def convertir(text,desp2):
    resul = ""
    for car in text:
        if car.isalpha():
            if car.islower():
                resul += chr((ord(car) - 97 + int(desp2)) % 26 + 97)
            if car.isupper():
                resul += chr((ord(car) - 65 + int(desp2)) % 26 + 65)    
        else:
            resul += car
    return resul

In [211]:
if __name__ == "__main__": # programa principal
    texto = input("Texto a cifrar: ")
    desp2 = input("Desplazamiento letra: ")
    desp = input("Desplazamiento palabra: ")  
    if desp.isdigit() and desp2.isdigit():
        cifrar(texto,desp,desp2)
    else:
        print ("El desplazamiento ha de ser un digito")

Texto a cifrar: texto a cifrar
Desplazamiento letra: 1
Desplazamiento palabra: 2

Texto cifrado: b djgsbs ufyup